*.log
*~
*.elf
*.objdump
*.bak
*.mti
template/vhdl/tb_sophie/tes_benches.mpf
template/vhdl/tb_sophie/transcript
template/vhdl/tb_sophie/work/
test/
test2/
*/transcript
*tar.gz
*/modelsim/
*.v
*.txt
*/greybox/
*build/
*bsp/
*hal_bsp/
*incremental_db/
*db/
*output_files/
*.nfs00000000000219a500002f61
*raytracing.qws
*writeInterfaceTestvormegre.vhd
*.json
*fifotest.qip
*.tcl
*.rpt
*transcript
*.summary
*.qsf
*.sopcinfo
template/quartus/raytracing/
template/vhdl/latencyTest.vhd
